<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.schonherz.flottadroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <permission
        android:name="com.schonherz.flottadroid.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.schonherz.flottadroid.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.schonherz.flottadroid.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.schonherz.flottadroid.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name="com.schonherz.flottadroid.MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.schonherz.flottadroid.SplashActivity"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.schonherz.flottadroid.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.schonherz.flottadroid.JobsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_jobs" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.schonherz.flottadroid.MainActivity" />
        </activity>
        <activity
            android:name="com.schonherz.flottadroid.AdminActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_admin" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.schonherz.flottadroid.MainActivity" />
        </activity>
        <activity
            android:name="com.schonherz.flottadroid.MapActivity"
            android:label="@string/title_activity_map" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.schonherz.flottadroid.MainActivity" />
        </activity>
        <activity
            android:name="com.schonherz.flottadroid.CarActivity"
            android:label="@string/title_activity_car" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.schonherz.flottadroid.MainActivity" />
        </activity>
        <activity
            android:name="com.schonherz.flottadroid.ContactActivity"
            android:label="@string/title_activity_contact_activty" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.schonherz.flottadroid.MainActivity" />
        </activity>
        <activity
            android:name="com.schonherz.flottadroid.RefreshActivity"
            android:label="@string/title_activity_refresh" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.schonherz.flottadroid.MainActivity" />
        </activity>
        <activity
            android:name="com.schonherz.flottadroid.SettingsActivity"
            android:label="@string/title_activity_settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDUncRHOMwFccwd9vKrHjUYF2GjbOASwWg" />

        <activity
            android:name="com.schonherz.flottadroid.MunkaDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_munka_details" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.schonherz.flottadroid.JobsActivity" />
        </activity>
        
        <activity
            android:name="com.schonherz.flottadroid.CarDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_car_details" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.schonherz.flottadroid.CarActivity" />
        </activity>
        

        <service android:name="com.schonherz.flottadroid.GCMIntentService" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.schonherz.flottadroid" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.schonherz.flottadroid.C2DMMessageReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" >
                </action>

                <category android:name="com.schonherz.flottadroid" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.schonherz.flottadroid.RegisterActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.schonherz.flottadroid.AlertActivity"
            android:label="@string/title_activity_alert"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name="com.schonherz.flottadroid.NewJobActivity"
            android:label="@string/title_activity_new_job" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.schonherz.flottadroid.AdminActivity" />
        </activity>
        <activity
            android:name="com.schonherz.flottadroid.SoforDetailsActivity"
            android:label="@string/title_activity_sofor_details" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.schonherz.flottadroid.AdminActivity" />
        </activity>
        <activity
            android:name="com.schonherz.flottadroid.PartnerDetailsActivity"
            android:label="@string/title_activity_partner_details" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.schonherz.flottadroid.AdminActivity" />
        </activity>
        <activity
            android:name="com.schonherz.flottadroid.TelephelyDetailsActivity"
            android:label="@string/title_activity_telephely_details" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.schonherz.flottadroid.AdminActivity" />
        </activity>
    </application>

</manifest>